.leftContainer {
  max-width: 23.9rem;
  padding: 7.2rem 0 10rem 2.4rem;
  border-right: 1px solid var(--grey);
  flex: 1;
}

.type {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.leftContainer li {
  opacity: 0.6;
  padding-bottom: 3rem;
  filter: grayscale(100%);
}

.leftContainer li:hover {
  opacity: 1;
  filter: grayscale(0);
}

.icon {
  margin-right: 2rem;
  opacity: 1;
}

.text {
  text-transform: capitalize;
  color: var(--color-disable);
  font-family: var(--font-paragraph);
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 500;
}
