.cardsPokemon_modal {
  padding: 6rem 4rem;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.cardsPokemon_modal_images {
  display: flex;
}
.cardsPokemon_modal_images img {
  display: block;
  width: 100%;
  max-width: 30rem;
  align-self: center;
}

.cardsPokemon_modal_texts {
  padding: 2rem 4rem;
}

.cardsPokemon_modal_context {
  display: flex;
  max-width: 60rem;
  /* height: 100%; */
  position: relative;
  margin: 0 auto;
  width: 50%;
  border-radius: 2.8rem;
  background: #fff;
}

.cardsPokemon_modal_closeIcon {
  background: #fff;
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  border-radius: 50%;
  cursor: pointer;
}

.cardsPokemon_modal_title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.cardsPokemon_modal_title h2 {
  font-size: 2.8rem;
  margin-right: 2rem;
}

.cardsPokemon_modal_title span {
  font-family: 'Inter', sans-serif;
  line-height: 2rem;
  font-size: 1.8rem;
  color: #7a7d80;
}

.cardsPokemon_modal_types,
.cardsPokemon_modal_ability {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 1.4rem;
}

.cardsPokemon_modal_types li {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 2rem;
}

.cardsPokemon_modal_subtitle {
  margin-top: 4rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6rem;
  letter-spacing: -0.01em;
  color: #4d5053;
}

.cardsPokemon_modal_ability li {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 2rem;
}

.cardsPokemon_modal_stats {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cardsPokemon_modal_stats_text {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.cardsPokemon_modal_stats_text li {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #7a7d80;
  width: 11rem;
  display: block;
  margin-right: 2.2rem;
}
