.cardsPokemon_modal {
  padding: 6rem 4rem;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.cardsPokemon_modal_context {
  max-width: 60rem;
  /* height: 100%; */
  position: relative;
  margin: 0 auto;
  width: 50%;
  border-radius: 2.8rem;
  background: #fff;
}

.cardsPokemon_modal_closeIcon {
  background: #fff;
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  border-radius: 50%;
  cursor: pointer;
}

.cardsPokemon_modal_title h2 {
  color: red;
  font-size: 2.8rem;
}
