.top {
  position: relative;
  margin-top: -20.8rem;
}

.grid {
  display: flex;
}
.search {
  max-width: 40.3rem;
  height: 5.6rem;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background: #ffffff;
  border-radius: 12.2rem;
}

.searchBar {
  padding-top: 14.9rem;
  margin-bottom: 7.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.searchBar input {
  width: 100%;
  margin-left: 1.7rem;
  font-size: 1.5rem;
  line-height: 150%;
  color: #a0afba;
  outline: none;
  border: none;
}

::placeholder {
  font-family: var(--font-paragraph);
  line-height: 150%;
  color: #a0afba;
}

.icon {
  width: 4.2rem;
  height: 4.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(158, 185, 225, 0.1);
  border: 1px solid #e1e9ef;
  border-radius: 50%;
}
