.top {
  position: relative;
  margin-top: -20.8rem;
}

.grid {
  display: flex;
}

.pokedex_left_wrapper li {
  opacity: 0.6;
  padding-bottom: 3rem;
  filter: grayscale(100%);
}

.pokedex_left_wrapper li:hover {
  opacity: 1;
  filter: grayscale(0);
}

.pokedex_left_wrapper {
  min-width: 15.9rem;
  padding: 7.2rem 0 10rem 0rem;
  border-right: 1px solid var(--grey);
}

.pokedex_typePokemon {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.pokedex_typePokemon_icon {
  margin-right: 2rem;
  opacity: 1;
}

.pokedex_typePokemon_text {
  text-transform: capitalize;
  color: var(--color-disable);
  font-family: var(--font-paragraph);
  font-size: 1.5rem;
  line-height: 150%;
  font-weight: 500;
}

.pokemonCount_wrapper {
  padding: 7.2rem 2.5rem 0 7.5rem;
  flex: 1;
  overflow-x: hidden;
}

.pokemonCount_top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 7.5rem;
}

.pokemonCount_top img {
  margin-right: 1.8rem;
}

.pokemonCount_number {
  font-family: var(--font-title);
  margin-right: 0.5rem;
}

.pokemonCount_text {
  color: #4d5053;
  font-family: var(--font-paragraph);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 150%;
}
